.user-details {
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  box-shadow: 0 0 10px #00152a;
}

.user-details:hover {
  opacity: 0.8;
}

.menu-left-bar {
  padding: 15px;
  background-color: rgba(179, 252, 224, 0.93);
  top: 0;
  z-index: 1;
}

.top-bar-collapsed {
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow-x: hidden;
}

.text-capitalize {
  text-transform: capitalize;
}

.uppercase-first-letter::first-letter {
  text-transform: uppercase;
}
