.site-card-border-less-wrapper {
  background-color: darkgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-login-card {
  width: 80vh;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.signup-login-card .ant-card-body {
  display: flex;
  justify-content: start;
  align-items: start;
}

.signup-input {
  padding-right: 15px;
}
