.note {
  background-color: #f4f2e6;
  border-radius: 3px;
  padding: 1rem;
  min-height: 252px;
  max-height: 400px;
  min-width: 240px;
  /* height: 252px; */
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin: 15px;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 27px 2px,
    rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
}

.note:hover {
  outline: 3px solid rgba(139, 138, 138, 0.269);
}

.grid-note {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  grid-auto-rows: minmax(200px, 280px);
  gap: 90px;
  padding-left: 5%;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 7rem;
  align-items: baseline;
}

h1 {
  color: #353739 !important;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.delete-note {
  cursor: pointer;
}

.title-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px;
  padding-bottom: 15px;
  /* display: flex;
  justify-content: center; */
}

.body-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
  margin-bottom: 128px;
}
