.left-bar {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  max-width: inherit;
  min-width: 67px;
  width: auto;
  z-index: 2;
  background-color: rgb(52, 65, 82);
}

.ant-menu-item:last-child {
  position: absolute !important;
  bottom: 0;
}
